body {
    width: 90%;
    margin: auto;
    background-color: #F7F2B2;
}

blockquote {
    width: 50%;
    margin: auto;
}

q {
    font-size: 1.6rem;
}

p {
    font-style: Georgia;
    font-size: 1.2rem;
    color: #002F2F;
    line-height: 25px;
}

a {
    font-weight: 800;
    color: rgb(46, 46, 143);
    text-decoration: none;
}

a:visited {
    color: red;
}

a:hover {
    border: 1px solid rgb(46, 46, 143);
    border-radius: 5px;
    padding: 0px 5px;
}