body {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    font-size: 20px;
    background-color: #303030;
    align-items: center;
}

.header h1 {
    padding: 0px 60px 0px 120px;
    font-weight: 900;
    font-size: 1.5em;
}

.header li {
    display: inline;
    padding-left: 20px;
    color: white;
}

.header .login {
    position: absolute;
    right: 150px;
    background-image: url('./user.svg');
    background-repeat: no-repeat;
    padding-left: 30px;
}

.banner {
    padding-top: 60px;
    display: flex;
    background: #046380;
    text-align: center;
    height: 400px;
    background-image: url('https://vignette.wikia.nocookie.net/ttte/images/2/20/ThomasSeason8model.png/revision/latest?cb=20140304185843');
    background-repeat: no-repeat;
}

.banner .text {
    margin: 0 auto;
}

.banner img {
    margin: 40px 0px 20px 0px;
    height: 100px;
}

.banner h2 {
    font-size: 2rem;
    margin: 20px;
}

.banner a {
    display: block;
    font-size: 24px;
    font-weight: bold;
    margin: 60px auto;
    padding: 30px 15px;
    width: 50%;
    border: 3px solid white;
    border-radius: 10px;
    background: orange;
}

.slogan {
    display: flex;
    justify-content: center;
    height: 70px;
}

.slogan p {
    color: black;
    font-weight: 500;
    margin: auto;
    font-size: 1.8rem;
}

.container {
    background: #046380;
    display: flex;
    flex-wrap: wrap;
}

.container div {
    display: inline-block;
    width: 35%;
    padding: 50px;
    margin: 0 auto;
}

.container div h3 {
    font-size: 2rem;
    padding-bottom: 20px;
}

.container div p {
    font-size: 1.4rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #EFEFEF;
}

.container em {
    font-weight: bold;

}

.partners {
    display: flex;
    justify-content: center;
    background: #EFEFEF;
    height: 400px;
}

.partners .svg1 {
    margin: auto;
}

.more {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.more .api, .more .docs {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    padding: 15px 30px;
    background: #046380;
    border-radius: 10px;
}

.more .start {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
    padding: 15px 30px;
    background: orange;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    font-size: 20px;
    background-color: #303030;
    align-items: center;
}

.footer li {
    display: inline;
    padding: 0px 10px;
    color: white;
    border-left: 1px dotted white;
}

.footer li:first-child {
    border: none;
}