* {
    box-sizing: border-box;
}

.debug {
    border: 3px solid #ff0000;
}

.greynav {
    background: #333;
}

.blue {
    background: #1e93cc;
}

.grey {
    background: #f0f0f0;
}

.orange {
    background: #e99002;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.btn {
    text-decoration: none;
}

.nav_row {
    position :fixed;
    width: 100%;
}

.navbar {
    max-width: 80%;
    display: flex;
    color: #fff;
    padding: 10px 0px;
    margin: auto;
    justify-content: space-between;
}

.nav_ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nav_list {
    list-style: none;
    margin: auto;
}

.navbar a {
    color: #FFF;
    margin: 5px 10px;
}

.login {
    background: url('https://i.embed.ly/1/image?url=https%3A%2F%2Fcontattafiles.s3.us-west-1.amazonaws.com%2Ftnt14094%2FG860kWT0WLgjqwO%2Ficon-login.svg&key=c0f258539b9c4ab5bf044cd294d74ff1') no-repeat;
    padding-left: 30px;
}

.hero {
    max-width: 80%;
    margin: auto;
    color: #fff;
    display: flex;
    padding: 20px;
    padding-top: 72px;
}

.thumb, .title, .empty {
    width: 33%;
    padding: 0 10px;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title img {
	max-width: 80%;
    max-height: 80%;
}

.btnTop {
    font-size: 1.2em;
    font-weight: 800;
    color: #fff;
    line-height: 3em;
    width: 200px;
    display: block;
    border: 2px solid #fff;
    border-radius: 10px;
    margin: auto;
}

.title2 {
    text-align: center;
    line-height: 3em;
    margin: 0;
}

.content .row {
    max-width: 80%;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    padding: 10px;
    color: #fff;
}

.text {
    width: 50%;
}

.partners .row {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 30px 0;
}

.partners .row a {
    width: 20%;
    display: flex;
    justify-content: center;
}

.partners .row img {
    margin: 10px;
}

.more .row {
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.more .row a {
    display: block;
    color: #fff;
    line-height: 3.6em;
    font-weight: 800;
    width: 180px;
    text-align: center;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 20px 10px;
}

footer {
    max-width: 80%;
    margin: auto;
    padding: 10px 0px;
    display: flex;
    color: #fff;
    justify-content: space-between;
}

footer ul {
    display: flex;
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style: none;
    padding: 0 20px;
    border-right: 1px dotted #fff;
}

footer ul li:last-child {
    border-right: none;
}

footer a {
    color: #fff;
}