* {
    box-sizing: border-box;
}

.debug {
    border: 3px solid #ff0000;
}

.greynav {
    background: #333;
}

.blue {
    background: #1e93cc;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.btn {
    text-decoration: none;
}

.navbar {
    max-width: 80%;
    display: flex;
    color: #fff;
    padding: 10px 0px;
    margin: auto;
    justify-content: space-between;
}

.nav_ul {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 0;
    padding: 0;
}

.nav_list {
    list-style: none;
}

.navbar a {
    color: #FFF;
}

.hero {
    max-width: 80%;
    margin: auto;
    color: #fff;
    display: flex;
    padding: 20px;
}

.thumb, .title, .empty {
    width: 33%;
    padding: 0 10px;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btnTop {
    background: #e99002;
    font-size: 1.2em;
    font-weight: 900;
    color: #fff;
    line-height: 3.6em;
    width: 200px;
    text-align: center;
    display: block;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 10px;
}