* {
    box-sizing: border-box;
}

body {
    font-family: "Open sans", sans-serif;
}

a {
    text-decoration: none;
}

header {
    height: 60px;
    display: flex;
    background-color: #DCDCDC;
}

header div {
    width: 80%;
    margin: auto;
    display: flex;
}

header .nav {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.nav li {
    display: inline;
    padding-left: 10px;
    font-size: 1.2rem;
}

.nav a {
    color: black;
}

.banner {
    height: 240px;
    background-color: #DCDCDC;
    display: flex;
}

.banner div {
    margin: auto;
}

.banner h1 {
    font-size: 2.8rem;
}

.value {
    height: 600px;
    background-color: #696969;
    display: flex;
    justify-content: center;
}

.value div{
    width: 20%;
    text-align: center;
    border-right: 2px solid darkgrey;
    padding: 0px 15px;
    height: 100%;
}

.value div:last-child {
    border: none;
}

.value h3 {
    font-size: 1.4rem;
    padding: 20px 0px;
    color: white;
}

.value p {
    color: grey;
    font-size: 1.2rem;
    line-height: 30px;
}